<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntdUI" version="1.4.3" targetFramework="net472" />
  <package id="ArcFaceProSDK4net" version="4.0.390.2" targetFramework="net472" />
  <package id="GodSharp.Opc.Da" version="2022.308.10" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Connections.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Hosting" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Server.Kestrel" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Server.Kestrel.Core" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Server.Kestrel.Https" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Server.Kestrel.Transport.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Server.Kestrel.Transport.Sockets" version="2.2.1" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.EnvironmentVariables" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.FileExtensions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Physical" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileSystemGlobbing" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.ObjectPool" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Net.Http.Headers" version="2.2.0" targetFramework="net472" />
  <package id="MQTTnet" version="4.3.6.1152" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="OPCFoundation.NetStandard.Opc.Ua" version="1.4.365.23" targetFramework="net472" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Bindings.Https" version="1.4.365.23" targetFramework="net472" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Client" version="1.4.365.23" targetFramework="net472" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Configuration" version="1.4.365.23" targetFramework="net472" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Core" version="1.4.365.23" targetFramework="net472" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Gds.Client.Common" version="1.4.365.23" targetFramework="net472" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Gds.Server.Common" version="1.4.365.23" targetFramework="net472" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Security.Certificates" version="1.4.365.23" targetFramework="net472" />
  <package id="OPCFoundation.NetStandard.Opc.Ua.Server" version="1.4.365.23" targetFramework="net472" />
  <package id="OpcUaHelper" version="2.1.3" targetFramework="net472" />
  <package id="Portable.BouncyCastle" version="1.8.9" targetFramework="net472" />
  <package id="QrCode.Net" version="0.4.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.0" targetFramework="net472" />
  <package id="System.Formats.Asn1" version="5.0.0" targetFramework="net472" />
  <package id="System.IO.Pipelines" version="4.5.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="System.Security.Cryptography.Cng" version="4.5.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="TouchSocket" version="2.0.15" targetFramework="net472" />
  <package id="TouchSocket.Core" version="2.0.15" targetFramework="net472" />
  <package id="TouchSocket.Http" version="2.0.15" targetFramework="net472" />
  <package id="ViewFaceCore" version="0.3.8" targetFramework="net472" />
  <package id="ViewFaceCore.all_models" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.Extension.SystemDrawing" version="0.3.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.age_predictor" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.eye_state" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_detector" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_landmarker_mask_pts5" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_landmarker_pts5" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_landmarker_pts68" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_recognizer" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_recognizer_light" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.face_recognizer_mask" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.fas_first" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.fas_second" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.gender_predictor" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.mask_detector" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.pose_estimation" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.model.quality_lbn" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.runtime.win.x64" version="6.0.7" targetFramework="net472" />
  <package id="ViewFaceCore.runtime.win.x86" version="6.0.7" targetFramework="net472" />
  <package id="ZXing.Net" version="0.16.9" targetFramework="net472" />
  <package id="摄像头枚举工具" version="4.6.0" targetFramework="net472" />
</packages>