<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
  <package id="ViewFaceCore" version="0.3.8" targetFramework="net461" />
  <package id="ViewFaceCore.Extension.SystemDrawing" version="0.3.7" targetFramework="net461" />
  <package id="ViewFaceCore.model.face_detector" version="6.0.7" targetFramework="net461" />
  <package id="ViewFaceCore.model.face_landmarker_mask_pts5" version="6.0.7" targetFramework="net461" />
  <package id="ViewFaceCore.model.face_landmarker_pts5" version="6.0.7" targetFramework="net461" />
  <package id="ViewFaceCore.model.face_landmarker_pts68" version="6.0.7" targetFramework="net461" />
  <package id="ViewFaceCore.model.face_recognizer_light" version="6.0.7" targetFramework="net461" />
  <package id="ViewFaceCore.runtime.win.x64" version="6.0.7" targetFramework="net461" />
  <package id="ViewFaceCore.runtime.win.x86" version="6.0.7" targetFramework="net461" />
</packages>