<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AlipaySDKNet" version="4.9.171" targetFramework="net461" />
  <package id="BouncyCastle.NetFramework" version="1.8.5.2" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net461" />
  <package id="Portable.BouncyCastle" version="1.8.5.2" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.7.0" targetFramework="net461" />
</packages>